<div class="jp" id="fldExpression">{{Expression}}</div>
<br><br>

{{#Sample}}
<div class="jp hint" id="fldSample">{{Sample}}</div>
{{/Sample}}

<div class="jp hint" id="fldReading" style="display: none;">{{furigana:Reading}}</div>
<br><br>

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var ex = document.getElementById('fldExpression');
var rd = document.getElementById('fldReading');

var isSame = ex.innerText.valueOf() === rd.innerText.valueOf();

if(!isSame) {
	window.setTimeout(function() {rd.style.display = 'block';},5000);
	//window.setTimeout(function() {ex.innerHTML = rd.innerHTML },5000);
}

setupCard();
</script>
<!-- NEXT TEMPLATE -->
<div class="jp" id="fldReading"> {{furigana:Reading}} </div><br>

<hr id=answer>

{{Meaning}}

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var rd = document.getElementById('fldReading');

setupCard();

</script>
