{{Meaning}}
<!-- NEXT TEMPLATE -->
<div class="jp" id="fldReading"> {{furigana:Reading}} </div><br>

<hr id=answer>

{{Meaning}}

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var rd = document.getElementById('fldReading');

setupCard();

</script>
