<div class="jp" id="fldExpression">{{masu-form}}</div>
<br><br>

{{#Sample}}
<div class="jp hint" id="fldSample">{{Sample}}</div>
{{/Sample}}
<br><br>

<div class="jp hint" id="fldReading" style="display: none;">{{furigana:masu-reading}}</div>
<br><br>

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var ex = document.getElementById('fldExpression');
var rd = document.getElementById('fldReading');

var isSame = ex.innerText.valueOf() === rd.innerText.valueOf();

if(!isSame) {
		window.setTimeout(function() {rd.style.display = 'block';},5000);
}

setupCard();
</script>
<!-- NEXT TEMPLATE -->
<div class="jp" id="fldReading"> {{furigana:masu-reading}} </div><br>

<hr id=answer>

masu<br>
ます<br>
Form<br>
<br>

{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var rd = document.getElementById('fldReading');

setupCard();
</script>
