<div id="fldExpression" class="jp">{{dictionary-form}}</div>
<br><br>

<div id="fldReading" class="jp hint" style="display: none;">{{furigana:dictionary-reading}}</div>
<br><br>

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">
var ex = document.getElementById('fldExpression');
var rd = document.getElementById('fldReading');
var isSame = ex.innerText.valueOf() === rd.innerText.valueOf();

if(!isSame) {
	window.setTimeout(function() {rd.style.display = 'block';},5000);
}

//setupCard();
</script>

<!-- NEXT TEMPLATE -->
<div class=jp> {{furigana:dictionary-reading}} </div><br>

<hr id=answer>

Wörterbuch<br>
Form<br>
<br>
{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}
