masu<br>
ます<br>
Form<br>
<br>
{{Meaning}}

<!-- NEXT TEMPLATE -->
<div class="jp" id="fldReading"> {{furigana:masu-reading}} </div><br>

<hr id=answer>

masu<br>
ます<br>
Form<br>
<br>

{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var rd = document.getElementById('fldReading');

setupCard();
</script>
