te<br>
て<br>
Form<br>
<br>
{{Meaning}}
<!-- NEXT TEMPLATE -->
<div class=jp> {{furigana:te-reading}} </div><br>

<hr id=answer>

te<br>
て<br>
Form<br>
<br>
{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}