ta<br>
た<br>
Form<br>
<br>
{{Meaning}}

<!-- NEXT TEMPLATE -->
<div class=jp> {{furigana:ta-reading}} </div><br>

<hr id=answer>

ta<br>
た<br>
Form<br>
<br>
{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}