nai<br>
ない<br>
Form<br>
<br>
{{Meaning}}

<!-- NEXT TEMPLATE -->
<div class=jp> {{furigana:nai-reading}} </div><br>

<hr id=answer>

nai<br>
ない<br>
Form<br>
<br>
{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}