.card {
  font-family: arial;
  font-size: 30px;
  text-align: center;
  color: black;
  background-color: white;
}
.jp { font-size: 50pt }
.hint { font-size: 30pt }
ruby { ruby-position: under; ruby-align: center; }
ruby ruby { ruby-position: over; ruby-align: space-between; }
