{{Meaning}}
<br>
(positiv)
<!-- NEXT TEMPLATE -->
<div class="jp" id="fldReading"> {{furigana:predicative-pos-reading}} </div><br>

<hr id=answer>

{{#Sample}}
<div id="fldSample" class="jp hint">{{Sample}}</div>
{{/Sample}}
<br>
{{Meaning}}
<br>
(positiv)

<script src="_setupCard.js" language="javascript"></script>
<script language="javascript">

var rd = document.getElementById('fldReading');

setupCard();
</script>
